@{
    ViewBag.Title = "MapView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Google Maps View of Events</h2>
<h4>Click points for more infomation</h4>



<div id="map" style="width:100%;height:450px"></div>
<script>
    //Create map and info windows
    function myMap() {
        var eventInfo = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h1 id="firstHeading" class="firstHeading">Event Information</h1>' +
            '<div id="bodyContent">' +
            '<p>Artist Name: </p>' +
            '<p>Event Address: </p>' +
            '<p>Venue Name: </p>' +
            '<p><a href="http://www.ticketmaster.com">Buy Tickets</a></p> ' +
            '</div>' +
            '</div>';
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(43.0341340, -87.911953087);
        var mapOptions = { center: myCenter, zoom: 10 };
        var map = new google.maps.Map(mapCanvas, mapOptions);

        //User Location
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(43.057665, -87.881014),
            map: map
        });

        //Event Location
        //foreach event... run this method
        var eventLat = 43.057665
        var eventLong = -87.881014
        var eventLoc = new google.maps.LatLng(43.057665, -87.881014);
        var EventMarker = new google.maps.Marker({
            position: eventLoc           
        });

        var infowindow = new google.maps.InfoWindow({
            content:
            eventInfo
        });

        //User current location
        marker.setMap(map);
        google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(eventLoc);
                infowindow.open(map, marker);
            });
        
    } 

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZwQiJCGkSJzK1K_ZKGIs_e045g3RjELU&callback=myMap"></script>