
@model IEnumerable<ConCon.Models.EventViewModel>
@using Newtonsoft.Json
@{
    ViewBag.Title = "MapView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />   
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCZwQiJCGkSJzK1K_ZKGIs_e045g3RjELU"
            type="text/javascript"></script>
</head>




<body>
    <div id="map" style="width: 500px; height: 400px;"></div>
    <h2>Google Maps View of Events</h2>
    <h4>Click points for more infomation</h4>
    <p>@Html.ActionLink("Go to Google Calendar", "GoogleAuthenticationView", "Calendar")</p>
    <script type="text/javascript">
        var data = @Html.Raw(Json.Encode(Model));
        var address = data[0].venue.address
        var name = 'Hello world'
        var singer = 'Jay Z'
        var venueName = 'Rave'
        var eventInfo = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading"></h1>' +
                '<div id="bodyContent">' +
                '<p venueName>Venue Name: ' + venueName + '</p>' +
                '<p eventName>Artist Name: ' + singer + '</p>' +
                '<p>Event Address: ' + address + '</p>' +
                '<p>Event Name: ' + name + '</p>' +
                '</div>' +
                '</div>';
    var locations = [
      [eventInfo, -33.890542, 151.274856, 4],
      [eventInfo, -33.923036, 151.259052, 5],
      [eventInfo, -34.028249, 151.157507, 3],
      [eventInfo, -33.80010128657071, 151.28747820854187, 2],
      [eventInfo, -33.950198, 151.259302, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < data.Length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    </script>
</body>
</html>