@{ 
    ViewBag.Title = "ArtistSearchView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for Artist</h2>

<p>Search for an artist you would like to find similar artists/concerts for.</p>

@Html.ActionLink("Start Search","Search","ArtistSearch")