@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO CON-CON</h1>
    <p class="lead">Con-Con is your blah blah blah</p>
    <p>@Html.ActionLink("Search for Bands Here","Search","ArtistSearch")</p>
</div>