@{
    ViewBag.Title = "Home Page";
}

<div >
    <h1>WELCOME TO CON-CON</h1>
    <p class="lead">Con-Con is your Concert Concierge</p>
    <img class="banner" src="http://itallstartswiththemusic.com/wp-content/uploads/2014/03/TAC-website-banner-photo.jpg" />
    <br />
    <p>@Html.ActionLink("Search for Bands Here","Search","ArtistSearch", new { }, new { @class = "Search" })</p>
</div>